@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  /* Gray 100 */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition shadow-sm font-medium;
  }
}

body {
  @apply bg-gray-50 text-gray-900;
}